*.asv
/sampledata/*
/data/*
PythonCode/\.idea/
~$*.*
Apparatus/OldVersions/
*.lck
*.swp

Apparatus/Visual/OldVersions/

Apparatus/Lick/OldVersions/

Apparatus/Robot/OldVersions/

Apparatus/Arena/OldVersions/
